.library-table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.library-table th,
.library-table td {
  padding: 0.5rem;
}

.library-table tbody tr:nth-child(odd) {
  background-color: #eee;
}

form input {
  margin-bottom: 1rem;
}

form button {
  margin-top: 1rem;
}
